<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <title>RoomMate</title>
</head>
<body data-bs-theme="dark">
<div class="container">
    <h1 class="text-body-emphasis py-4">RoomMate</h1>
    <p>Mit RoomMate kannst du bequem und einfach von Zuhause aus eine Reservierung für einen Arbeitsplatz in der Uni
        vornehmen.</p>
    <ul>
        <li class="my-2">
            <a href="/workspace_overview">Arbeitsplatz Übersicht & Buchung</a>
        </li>
        <li class="my-2">
            <a href="/room_overview">Raumübersicht</a>
        </li>
        <li class="my-2">
            <a href="/user_bookings">Meine Buchungen</a>
        </li>
        <li class="my-2">
            <a href="/rules_booking">Buchungsregeln</a>
        </li>
    </ul>
    <footer class="container fixed-bottom py-2">
        <a class="text-body-tertiary">© 2024</a>
        <a class="text-body-tertiary" href="https://github.com/Asveste">Asveste,</a>
        <a class="text-body-tertiary" href="https://github.com/Elijah3791"> Lijah,</a>
        <a class="text-body-tertiary" href="https://github.com/cinders-ad"> cinders-ad</a>
    </footer>
</div>
</body>
</html>