<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <title>RoomMate - Raumdetails</title>
</head>
<body data-bs-theme="dark">
<div class="container">
    <h1 class="text-body-emphasis py-4">Raum <span th:text="*{room.number}"></span></h1>
    <ul>
        <li th:each="trait : ${room.number.traits}">
            <span th:text="${trait}">Eigenschaft</span>
        </li>
    </ul>
    <a class="text-body-secondary py-8" href="index">Zurück zur Startseite</a>
</div>
</body>
</html>