<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <title>Raumübersicht</title>
</head>
<body data-bs-theme="dark">
<div class="container">
    <h1 class="text-body-emphasis py-4">Verfügbare Räume</h1>
    <div class="mt-2">
        <p class="mb-1">
            Diese Seite stellt eine Übersicht der verfügbaren Räume dar.<br>
            Für das Buchen von Arbeitsplätzen musst du zur Seite <a href="/workspace_details">Arbeitsplatz
            Übersicht</a>.<br>
        </p>
        <div class="text-body-secondary">Diese Seite existiert, damit es eine allgemeine Arbeitsplatzübersicht ohne Filter gibt.</div>
    </div>
    <div>
        <ul class="list-group py-4">
            <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                th:each="workspace : ${workspaces}">
                <p class="mb-0">
                    <span th:text="*{workspace.room()}">Raum-ID</span>
                </p>
                <p>
                    Ausstattung:
                    <span th:each="trait, iterStat : ${workspace.traits}">
                    <span th:text="${trait.trait}"></span><th:block th:if="${!iterStat.last}">, </th:block>
                </span>
                </p>
            </li>
        </ul>
    </div>
    <a class="text-body-secondary py-8" href="index">Zurück zur Startseite</a>
</div>
</body>
</html>