<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <title>RoomMate - Raumübersicht</title>
</head>
<body data-bs-theme="dark">
<div class="container">
    <h1 class="text-body-emphasis py-4">Verfügbare Räume</h1>
    <div class="mt-2">
        <p class="mb-1">
            Diese Seite stellt nur eine Übersicht der Verfügbaren Räume dar.<br>
            Für das buchen von Arbeitsplätzen musst du zur Seite <a href="/workspace_booking">Arbeitsplatz
            buchen</a>.<br>
        </p>
        <div class="text-body-secondary">Warum es diese Seite dann gibt? Wissen wir selber nichtmal.</div>
    </div>
    <div>
        <ul class="list-group py-4">
            <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                th:each="room : ${rooms}">
                <p class="mb-0">
                    <span th:text="*{room.number}">Raumnummer</span>
                </p>
                <p class="mb-0">
                    <span>Anzahl Arbeitsplätze: <span th:text="${#lists.size(room.workspace)}">0</span></span>
                </p>
            </li>
        </ul>
    </div>
    <a class="text-body-secondary py-8" href="index">Zurück zur Startseite</a>
</div>
</body>
</html>