<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <title>Buchungsregeln</title>
</head>
<body data-bs-theme="dark">
<div class="container pb-4">
    <h1 class="text-body-emphasis py-4">Regeln für die Buchung</h1>
    <p class="my-2">Diese Seite existiert, damit die Startseite realistischer ist.<br>
        In einer echten Anwendung könnten hier Regeln für Buchungen aufgelistet werden.
    </p>
    <p>
        Eine Regel bei uns ist zum Beispiel, dass man durch eine wiederkehrende Buchung einen Platz für 8 Wochen
        reserviert.<br>
        Ausserdem ist zu beachten, dass es beim Reservieren keine Überschneidungen geben darf, dass heißt auch kein
        Angrenzen
        einer Reservierung an eine andere.<br>
        Wenn also eine Reservierung von 14:00 Uhr bis 16:00 Uhr existiert und du den Startpunkt deiner Reservierung auch
        auf 16:00 legst
        wird dies fehlschlagen. Hier muss dann 16:01 gewählt werden.
    </p>
    <a class="text-body-secondary py-8" href="/index">Zurück zur Startseite</a>
</div>
</body>
</html>