<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <title>Meine Buchungen</title>
</head>
<body data-bs-theme="dark">
<div class="container">
    <h1 class="text-body-emphasis py-4">Buchungsübersicht</h1>
    <p class="my-2">Hier siehst du deine getätigten Buchungen
        (Eigentlich. Ist aber keine Anforderung vom Projekt, also siehst du hier stattdessen ein Katzenbild als Entschädigung).</p>
    <p> <img src="/images/cats.jpg" alt="Zwei Katzen mit großen Pupillen schauen nach oben" height="35%" width="35%"></p>
    <a class="text-body-secondary py-8" href="/index">Zurück zur Startseite</a>
</div>
</body>
</html>