<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <title>Arbeitsplatz modifizieren</title>
</head>
<body data-bs-theme="dark">
<div class="container pb-4">
    <h1 class="text-body-emphasis py-4 mt-3">Arbeitsplatz <span th:text="*{workspace.id()}"></span></h1>
    <p class="mt-2 mb-4">Hier kannst du Ausstattungen hinzufügen, entfernen, sowie Reservierungen überschreiben oder den
        Arbeitsplatz für einen Zeitraum blocken.</p>

    <h2 class="mt-4 mb-3">Ausstattung</h2>
    <p class="mb-3"><span th:if="${workspace.traits().size() == 0}">Keine Ausstattung vorhanden</span></p>
    <ul class="mb-4">
        <li class="mb-3" th:each="trait : ${workspace.traits}">
            <span th:text="${trait.trait()}"></span>
            <form method="post" th:action="@{'/workspace_editor/modify/' + ${workspace.id()} + '/removeTrait'}">
                <input name="trait" th:value="${trait.trait()}" type="hidden"/>
                <button class="btn btn-danger btn-sm" type="submit">Entfernen</button>
            </form>
        </li>
    </ul>
    <form class="mb-4" method="post" th:action="@{'/workspace_editor/modify/' + ${workspace.id()} + '/addTrait'}">
        <input class="form-control mt-3 mb-2" name="trait" placeholder="Neues Trait" required type="text"/>
        <button class="btn btn-primary btn-sm" type="submit">Hinzufügen</button>
    </form>

    <h2 class="mt-4 mb-3">Reservierungen</h2>
    <p class="mb-3"><span th:if="${workspace.existingReservations().size() == 0}">Keine Reservierungen vorhanden</span>
    </p>
    <ul class="mb-4">
        <li class="mb-3" th:each="timespan : ${workspace.existingReservations()}">
            <span th:text="${timespan.date + ': ' + timespan.startTime + ' - ' + timespan.endTime}"></span>
            <form method="post" th:action="@{'/workspace_editor/modify/' + ${workspace.id()} + '/cancelReservation'}">
                <input name="date" th:value="${timespan.date()}" type="hidden"/>
                <input name="startTime" th:value="${timespan.startTime()}" type="hidden"/>
                <input name="endTime" th:value="${timespan.endTime()}" type="hidden"/>
                <input name="timespanId" th:value="${timespan.timespanId()}" type="hidden"/>
                <button class="btn btn-danger btn-sm" type="submit">Stornieren</button>
            </form>
        </li>
    </ul>

    <h2 class="mt-4 mb-3">Reservierungen überschreiben</h2>
    <p class="mb-3">Bitte beachten: Bereits existierende Reservierungen die im selben Zeitraum liegen werden gekürzt.
        Das überschreiben kann nicht rückgängig gemacht werden.</p>
    <form class="mb-4" method="post"
          th:action="@{'/workspace_editor/modify/' + ${workspace.id()} + '/overwriteReservation'}">
        <div class="my-3">
            <label class="form-label" for="date">Datum</label>
            <input class="form-control" id="date" name="date" required type="date">
        </div>
        <div class="mb-3">
            <label class="form-label" for="startTime">Startzeit</label>
            <input class="form-control" id="startTime" name="startTime" required type="time">
        </div>
        <div class="mb-3">
            <label class="form-label" for="endTime">Endzeit</label>
            <input class="form-control" id="endTime" name="endTime" required type="time">
        </div>
        <button class="btn btn-danger btn-sm" type="submit">Überschreiben</button>
    </form>

    <h2 class="mt-4 mb-3">Arbeitsplatz sperren</h2>
    <p class="mb-3">Bitte beachten: Bereits existierende Reservierungen für den zu sperrenden Zeitraum werden
        überschrieben (also gekürzt oder ganz gelöscht). Dies kann nicht rückgängig gemacht werden.</p>
    <form class="mb-4" method="post" th:action="@{'/workspace_editor/modify/' + ${workspace.id()} + '/lockWorkspace'}">
        <div class="my-3">
            <label class="form-label" for="date2">Datum</label>
            <input class="form-control" id="date2" name="date" required type="date">
        </div>
        <div class="mb-3">
            <label class="form-label" for="startTime2">Startzeit</label>
            <input class="form-control" id="startTime2" name="startTime" required type="time">
        </div>
        <div class="mb-3">
            <label class="form-label" for="endTime2">Endzeit</label>
            <input class="form-control" id="endTime2" name="endTime" required type="time">
        </div>
        <button class="btn btn-danger btn-sm" type="submit">Sperren</button>
    </form>

    <a class="text-body-secondary py-3 d-block mt-4" href="/workspace_editor">Zurück zur Übersicht</a>
</div>
</body>
</html>
