<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <title>RoomMate - Arbeitsplatz Editor</title>
</head>
<body data-bs-theme="dark">
<div class="container pb-4">
    <h1 class="text-body-emphasis py-4">Arbeitsplatz Editor</h1>
    <p class="my-2">Hey <span th:text="${name}">Otto</span>! Unterhalb lassen sich neue Arbeitsplätze erstellen, sowie
        bearbeiten und löschen.</p>
    <a class="text-body-secondary py-8" href="/index">Zurück zur Startseite</a>
</div>
</body>
</html>