<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <title>RoomMate - Arbeitsplatz buchen</title>
</head>
<body data-bs-theme="dark">
<div class="container">
    <h1 class="text-body-emphasis py-4">Buchung eines Arbeitsplatzes</h1>
    <p>Unterhalb findest du eine Liste mit buchbaren Arbeitsplätzen.</p>

    <form class="pb-2" method="get" th:action="@{/workspace_booking}">
        <div class="mb-2">
            <!-- Trait Filter Accordion -->
            <div class="accordion" id="traitAccordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="traitHeader">
                        <button aria-controls="traitCollapse" aria-expanded="false" class="accordion-button collapsed"
                                data-bs-target="#traitCollapse" data-bs-toggle="collapse" type="button">
                            Filter
                        </button>
                    </h2>
                    <div aria-labelledby="traitHeader" class="accordion-collapse collapse" data-bs-parent="#traitAccordion"
                         id="traitCollapse">
                        <div class="accordion-body">
                            <!-- Dynamically generated Checkboxes -->
                            <div class="form-check pb-2" th:each="trait : ${allTraits}">
                                <label>
                                    <input class="form-check-input" name="traitFilter"
                                           th:id="${'traitFilter_' + #strings.replace(trait, ' ', '_')}"
                                           th:value="${trait.trait()}"
                                           type="checkbox">
                                    <span class="form-check-label" th:text="${trait.trait()}">Filter</span>
                                </label>
                            </div>
                            <!-- Accordion for Date and Time Options -->
                            <div class="accordion" id="dateTimeAccordion">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="dateTimeHeader">
                                        <button aria-controls="dateTimeCollapse" aria-expanded="false"
                                                class="accordion-button collapsed"
                                                data-bs-target="#dateTimeCollapse" data-bs-toggle="collapse"
                                                type="button">
                                            Datum und Uhrzeit
                                        </button>
                                    </h2>
                                    <div aria-labelledby="dateTimeHeader" class="accordion-collapse collapse"
                                         data-bs-parent="#dateTimeAccordion" id="dateTimeCollapse">
                                        <div class="accordion-body">
                                            <div class="mb-2">
                                                <label class="form-label" for="date">Datum auswählen:</label>
                                                <input class="form-control" id="date" name="date" type="date">
                                            </div>
                                            <div class="mb-2">
                                                <label class="form-label" for="startTime">Startzeit:</label>
                                                <input class="form-control" id="startTime" name="startTime" type="time">
                                            </div>
                                            <div class="mb-4">
                                                <label class="form-label" for="endTime">Endzeit:</label>
                                                <input class="form-control" id="endTime" name="endTime" type="time">
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" id="recurringReservation"
                                                       name="recurringReservation" type="checkbox">
                                                <label class="form-check-label" for="recurringReservation">Wiederholende
                                                    Reservierung</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input name="action" type="hidden" value="filter">
        <button class="btn btn-primary" type="submit">Filtern</button>
    </form>

    <!-- List of Rooms -->
    <ul class="list-group py-4" th:remove="all-but-first">
        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
            th:each="workspace : ${workspaces}">
            <a href="#" th:href="@{/room_details/{id}(id=${workspace.id})}">Arbeitsplatz
                <!--                <span th:text="*{room.number}">Raumnummer</span>-->
                <span th:text="*{workspace.id}">Arbeitsplatznummer</span>
            </a>
            <p class="mb-0">
            <p>
            Ausstattung:
                <span th:each="trait, iterStat : ${workspace.traits}">
                    <span th:text="${trait.trait}"></span><th:block th:if="${!iterStat.last}">, </th:block>
                </span>
            </p>
            </p>
        </li>
    </ul>
    <a class="text-body-secondary" href="index">Zurück zur Startseite</a>
</div>

<!-- Bootstrap JavaScript -->
<script crossorigin="anonymous"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>